@model IEnumerable<Lection>
@{
    ViewData["Title"] = "ResultSearch";
}
<html>

<head>
    <h2 style="color:white">Result Search</h2>
</head>

<body style="background-color:black;color:white">
    <div class="well">
        <table class="table" style="color:black">
            <tr>
                <td>
                    Name
                    <br /> <a asp-action="nameAsc" asp-controller="Admin"> Asc </a> <a asp-action="nameDsc" asp-controller="Admin"> Desc </a>
                </td>
                <td>
                    Subject
                    <br /> <a asp-action="subjAsc" asp-controller="Admin"> Asc </a> <a asp-action="subjDsc" asp-controller="Admin"> Desc </a>
                </td>
                <td>Small description</td>
                <td>
                    Stars
                    <br /> <a asp-action="starsAsc" asp-controller="Admin"> Asc </a> <a asp-action="starsDsc" asp-controller="Admin"> Desc </a>
                </td>
                <td>Text</td>
                <td>
                    Create
                    <br /> <a asp-action="cDateAsc" asp-controller="Admin"> Asc </a> <a asp-action="cDateDsc" asp-controller="Admin"> Desc </a>
                </td>
                <td>
                    Update
                    <br /> <a asp-action="uDateAsc" asp-controller="Admin"> Asc </a> <a asp-action="uDateDsc" asp-controller="Admin"> Desc </a>
                </td>
                <td>
                    Creater
                    <br /> <a asp-action="idAsc" asp-controller="Admin"> Asc </a> <a asp-action="idDsc" asp-controller="Admin"> Desc </a>
                </td>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.name </td>
                <td> @item.subject</td>
                <td>@item.smallDescription</td>
                <td>@item.stars</td>
                <td>@item.text</td>
                <td>@item.dateCreate</td>
                <td>@item.dateUpdate</td>
                <td>
                    @item.User.username
                </td>
            </tr>
            }
        </table>
    </div>
</body>
</html>

